.cart-button {
    align-items: center;
    border: unset;
    cursor: pointer;
    display: flex;
    height: 32px;
    justify-content: center;
    transition: transform .5s ease;
    width: 32px;
    color: var(--color-element);
    background: unset;
}

.cart-button .btn:hover {
    transition: all .3s ease;
    transform: scale(1.2);
}

.cart {
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 0;
    background: var(--color-bg);
    height: 100vh;
    text-align: left;
    white-space: nowrap;
    transition: width 1s;
    z-index: 1000;
    


    .cart-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 76px;
        border-bottom: 1px solid var(--color-element);
        padding: 0 2rem;

        >div {
            &:first-of-type {
                display: flex;
                align-items: center;

                svg {
                    width: 24px;
                    margin-right: 20px;
                    fill: var(--color-element);
                    transition: all .2s ease;

                    &:hover {
                        cursor: pointer;
                        transform: scale(1.1);
                    }
                }
                h2{
                    color: var(--color-element);
                    margin: 0;
                    font-size: 24px;
                }

            }
        }

        .btn-clear {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 0;
            border: unset;
            font-size: 1.3rem;
            color: var(--color-element);
            background: unset;
            transition: all 300ms ease;

            &:hover{
                color: var(--color-text);
                svg{
                    text-decoration: none;
                    transform: scale(.8);
                    
                }
            }
        }
    }

  ul{ 
   height: calc(100vh - 76px - 19px);
    overflow: scroll;
    
      
        li{ 
          display: flex;
          /* flex-direction: column; */
          padding: 15px;
          align-items: center;
          border-bottom: 1px solid var(--color-bg);
          

          .cart-img{
            width: 100px;
            position: relative;
            margin-top: 10px;

            img{
                width: 100%;
            }

            .cart-img-text{
                position: absolute;
                bottom: 55%;
                right: 23%;
                color: var(--color-element);
                font-weight: 800;
                font-size: 10px;
                rotate: -90deg;
            }

           
          }

          .cart-price{
            color: var(--color-text);
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;

            
            
        }
        footer{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;


            .btn-add{
                border: unset;
                margin-left: 10px;
                background: unset;
            }

            .btn-less{
                border: unset;
                margin-left: 10px;
                background: unset;
            }
        }
        }


  }  
    

}