

.card-info:hover{
    box-shadow: rgba(240, 46, 46, 0.4) 0px 5px, rgba(240, 46, 46, 0.3) 0px 10px, rgba(240, 46, 46, 0.2) 0px 15px, rgba(240, 69, 46, 0.1) 0px 20px, rgba(240, 46, 46, 0.05) 0px 25px;
}

.card-img{
    filter: grayscale(100%);
}

.card-info:hover .card-img{
    filter: grayscale(0%);
}

.card-title{
    color: var(--color-element);
}