.footer{
    background: var(--color-element);
    width: 100%;
    margin-top: 50px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    
}

.footer-filter{
    backdrop-filter: blur(3px);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 2rem ;
}

.logo-cvm{
    padding: 5px 10px;
    border-radius: 25px;
    background: var(--color-bg);
    max-width: 200px;
}

.power-by{
    border-radius: 25px;
    padding: 7px 15px;
    color: var(--color-bg);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    background: var(--color-text);
    max-width: 300px;
}


.logo-rpm{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 0.5rem;
    max-width: 170px;
    background: black;
    padding: 12px;
    border-radius: 25px;
    color: white;
    transition: .2s ease;
}

.logo-rpm:hover{
    transform: scale(1.2);
}

.pulse{
    position: absolute;
    top: 30%;
    right: 0;
}

.footer p{
    font-size: 1.2rem;
    font-weight: 500;
}

.img-logo-rpm{
    max-width: 350px;
}

@media screen and (max-width: 780px) {
    .power-by{
        max-width: 200px;
    }

    .footer p{
        font-size: 1rem;
    }

    
}

@media screen and (max-width: 550px) {
    .footer-filter{
        flex-direction: column;
        gap: 1.5rem;
    }
   

}

@keyframes pulse {
    0%, 100% {
        transform: scale(1);
        animation-timing-function: ease-in;
    }

    50% {
        transform: scale(1.33);
    }
}

.circle{
    border-radius: 50%;
    
    height: 30px;
    width: 30px;
    
    animation: pulse 2s infinite;
    &:hover{
        transform: scale(1.33);
        animation-play-state: paused;
    }
}