.navbar{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 6rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

.navbar-links{
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 2rem;
}

.navbar_links-logo{
    width: 120px;
    margin-right: 2rem;

}

.navbar_links-container{
    
    cursor: pointer;
}

.navbar_links-container a{
    margin-left: 2rem;
    font-size: 1rem;
    color: var( --color-text);
    font-weight: 700;
}


.navbar_links-container a:hover,
.navbar_links-container a.active{
    color: var(--color-bg);
    border-radius: 25px;
    background: var(--color-element);
    padding: 0 20px;
    transition: all .3s ease;
}

.navbar_sing{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

.navbar_sing a{
    font-size: 1.3rem;
    font-weight: 600;
    color: var(--color-element);
    transition: transform 500ms ease;
}

.navbar_sing a:hover{
    transform: scale(1.3);
}


.navbar-menu{
    margin-left: 1rem;
    display: none;
    position: relative;
    z-index: 1000;
}

.navbar-menu svg{
    cursor: pointer;
}

.navbar_menu_container{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
    text-align: center;
    background: var(--color-element);
    padding: 2rem;
    position: absolute;
    top: 40px;
    right: 0;
    margin-top: 1rem;
    min-width: 210px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.navbar_menu_container-links{
    display: flex;
    flex-direction: column;
}

.navbar_menu_container a{
    margin: 1rem 0;
    color: var(--color-bg);
}

.navbar_menu_container a:hover,
.navbar_menu_container a.active
{
    background: var(--color-bg);
    color: var(--color-text);
    padding: .5rem;
    border-radius: 25px;
}



.navbar_menu_container-links-sing{
    display: none;
}


@media screen and (max-width: 1050px) {
    .navbar_links-container{
        display: none;
    }

    .navbar-menu{
        display: flex;
    }
}

@media screen and (max-width: 700px) {
 .navbar{
    padding: 2rem 4rem;
 }

 
}

@media screen and (max-width: 550px) {
    .navbar{
       padding: 2rem;
    }
    
    .navbar_sing{
        display: none;
    }

    .navbar_menu_container{
        top: 20px;
    }

    .navbar_menu_container-links-sing{
        display: block;
    }

    
    
}
