.timer-caontainer{
color: var(--color-element);
display: flex;
flex-direction: column;
justify-items: center;
align-items: center;


}

.timer-caontainer h2{
    font-size: 2rem;
    font-weight: 800;
}

.timer-caontainer h3{
    margin-top: 20px;
}

.timer{
    border: 2px solid rgb(8, 8, 8);
    border-radius: 25px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
    margin-top: 3em;
    padding: 2em;
    text-align: center;

}

.timer p{
    font-size: 3em;
}

.timer p small{
    font-size: 1.5rem;
}


.timer span{
    font-size: 3em;
}

@media screen and (max-width: 480px ) {
    .timer{
        margin:2em 0 2em 0 ;
        padding: 3em 1em ;
    }

    .timer p{
        font-size: 1.5em;
    }

    .timer p small{
        font-size: 1rem;
    }

    .timer span{
        font-size: 1.5em;
    }

}