.jornadas__conten{
    padding: 2rem 0 0 0 ;
    }

    .hero{
        width:100%; 
        background: url(../../assets/BNIBG.jpeg) no-repeat;
        background-size: cover;
    }

    .hero-filter{
        background: linear-gradient(hsl(0 0% 0% /0), hsl(20 0% 0% /0.3)10%, hsl(0 0% 0% /1));
        padding: 10rem 0 10rem 0;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2rem;
    }

    .avatar{
        width: 250px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 100px;
        overflow: hidden;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        img{
            width: 100%;
        }
    }


    .info_gnrl{
        display: flex;
        flex-direction: column;
        gap: 2rem;
        color: var(--color-bg);

        h1{
            font-size: 3rem;
            font-weight: 800;
         color: var(--color-element);
        }
    }


    .semblanza{
        color: var(--color-bg);
         max-width: 800px;
         text-align: center;
         margin: 0 auto;
         background: var(--color-element);
        padding: 3rem;
        border-radius: 20px;
    }


    @media screen and (max-width:780px) {
        .info_gnrl{
          font-size: 70%;
            h1{
                font-size: 2rem;
                
            }
        }
    
        .semblanza{
            max-width: 600px;
        }
        
    }

    @media screen and (max-width:580px) {
        .hero{
            background: url(../../assets/bnibg2.svg)no-repeat;
            background-size: cover;
        }
        .hero-filter{
            flex-direction: column;
            text-align: center;
        }
    
        .semblanza{
            max-width: 400px;
            font-size: 80%;
        }
        
    }