.jornadas__conten{
    padding: 6rem 0 0 0 ;
    }

    .hero{
        width:100%;
        
        background: url(../../assets/BNIBG.jpeg);
    }

    .hero-filter{
        backdrop-filter: blur(5px);
        padding: 5rem 0 5rem 0;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        flex-wrap: wrap;
    }

    .avatar{
        width: 250px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 100px;
        overflow: hidden;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        img{
            width: 100%;
        }
    }


    .info_gnrl{
        color: var(--color-text);
    }

