.button-prime{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    font-weight: 700;
    max-width: 400px;
    color: var(--color-text);
    background: var(--color-bg);
    cursor: pointer;
    text-align: center;
    border-radius: 25px;
    padding: 1rem;
    box-shadow: 12px -12px 20px -12px rgba(0, 0, 0, 0.35);
    border: unset;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}

.button-prime:hover{
   color: var(--color-bg);
}

.button-prime::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--color-element);
    z-index: -1;
    transition: all .5s ease;
}

.button-prime:hover::after{
    width: 100%;
}
  