.btn2{
    font-weight: 800;
    font-size: 1rem;
    background: var(--color-element);
    color: var(--color-bg);
    border: unset;
    padding: 1rem;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    transition: all .3s;
}

.btn2:hover{

   transform: translateY(-20px);
}