.sUsU-section{
    background: linear-gradient(179deg, rgba(255, 0, 0, 0.82) 0%, rgba(235, 191, 57, 0.54) 62%, rgba(255, 255, 255, 1) 96%);
}

.sUsu-card-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    margin-bottom: 5rem;
}


.susu-client-asist{
    border-radius: 25px;
    padding: 2rem;
    background: url(../../assets/oficce.jpg)  no-repeat;
    background-size: cover;
    margin-top: 100px;
    display: flex;
    backdrop-filter: blur(10px);
}

.susu-client-text{
    display: flex;
    flex-direction: column;
    gap: 3rem;
    align-items: center;
    line-height: 50px;
    font-size: 1.2rem
}

.susu-client-asist-ex{
    font-size: 1rem;
    line-height: 30px;
}

.susu-client-img{
    overflow: hidden;
    border-radius: 10px;
    max-width: 200px;
}

.susu-client-img{
    width: 100%;
}
@media screen and (max-width: 780px) {
    

}

@media screen and (max-width: 550px) {
   
    .title-section{
       font-size: .8rem;
        padding: 0;
    }

}