@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

:root{
    
    --color-bg: #fff;
    --color-element: #cf2030;
    --color-text:#000000;
    --color-subtex: #fff;
    
    --gradiant-bg:linear-gradient(117deg, rgba(255,255,255,1) 37%, rgba(245,123,134,1) 81%, rgba(207,32,48,1) 95%);
}