.shop-cart{
    
}
.tickets-conten{
    margin-top: 100px;
}


.table{
    margin-top: 100px;
}



.table h3{
    background: var(--color-element);
    color: var(--color-bg);
    padding: 1rem;
    border-radius: 25px;
    margin-bottom: 20px;
}

.table small{
   
    color: #fff;
}